/* --- color palette ---
#0c1449
#3b59d0
#6f9be2
#c6dcf6

original variables

game window size: 750px

.grid:
	border: 10px solid #0d4e3f;
	border-radius: 10px;
	box-shadow: 0 0 3px 3px #0d4e3f;
	grid-template-rows: repeat(15, 50px);
	grid-template-columns: repeat(15, 50px);


*/

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Outfit:wght@300&family=Roboto+Condensed:wght@700&display=swap');

:root {
	--game-size: 75vh;
	--tile-size: calc(var(--game-size)/15)
}

body {
	background-color: #a0cfe5;
}

.grid {
	height: var(--game-size);
	width: var(--game-size);
	margin: auto;
	display: grid;
	border: 1.5vh solid #0d4e3f;
	border-radius: calc(var(--game-size)/75);
	box-shadow: 0 0 calc(var(--game-size)/250) calc(var(--game-size)/250) #0d4e3f;
	grid-template-rows: repeat(15, calc(--game-size/15));
	grid-template-columns: repeat(15, calc(--game-size/15));
}

.blurred {
	filter: blur(5px);
}

.tile {
	background-color: #588e73;
	/*border: 1px solid;*/
}

.segment {
	height: calc(var(--tile-size) - 1vh);
	width: calc(var(--tile-size) - 1vh);
	position: absolute;
	border: 0.5vh solid #64bd68;
	border-radius: 20%;
	background-color: #95d488;
}

.apple {
	height: var(--tile-size);
	width: var(--tile-size);
	position: absolute;
	background-color: #ee797d;
	border-radius: 50%;
}

.score {
	width: var(--game-size);
	height: calc(var(--game-size)/10);
	margin: auto;
	color: #c6dcf6;
	font-size: calc(var(--game-size)/15);
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 0 0 7px #0d4e3f, 0 0 7px #0d4e3f, 0 0 7px #0d4e3f, 0 0 7px #0d4e3f, 0 0 7px #0d4e3f, 0 0 7px #0d4e3f;
	/*background-color: #c6dcf6;*/
}

.text-container {
	/*border: 1px solid;*/
	--game-size-halved: calc(var(--game-size)/2);
	position: absolute;
	color: #c6dcf6;
	text-shadow: 0 0 7px #0d4e3f, 0 0 7px #0d4e3f, 0 0 7px #0d4e3f, 0 0 7px #0d4e3f, 0 0 7px #0d4e3f, 0 0 7px #0d4e3f;
	width: var(--game-size-halved);
	text-align: center;
	margin-left: calc(var(--game-size-halved) - var(--game-size-halved)/2);
	margin-top: calc(var(--game-size-halved) - var(--game-size)/7.5);
	font-family: 'Roboto Condensed', sans-serif;
	z-index: 1;
}

.big-text {
	font-size: calc(var(--game-size)/7.5);
	line-height: calc(var(--game-size)/7.5);
}

.small-text {
	font-size: calc(var(--game-size)/25);
	line-height: calc(var(--game-size)/25);
}

.paused {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
}
